.brentry {
  margin: auto;
  width: 80%;
  background-color: #F7E7CE;
  padding: 10px;
  text-align: center;
  .term {
    display: inline;
    .word {
      font-weight: bolder;
      display: inline;
    }
    &:after {
      content: " means ";
    }
  }
  .definition {
    display: inline;
    font-style: italic;
  }
}
