.brentry {
  .term {
    display: inline;
    .word {
      font-weight: bolder;
      display: inline;
    }
    &:after {
      content: " means ";
    }
  }
  .definition {
    display: inline;
    font-style: italic;
  }
}
